html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
    display: block;
    color: #000;
    text-decoration: none;
}

ul li a.active {
    background-color: #dae4db;
    color: white;
}
  
ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h1 {
    padding: 5px 20px;
    margin: 0;
    color: #070422;
}

h2  {
    padding: 5px 20px;
    margin: 0;
    color: #070422;
}

h3 {
    padding: 5px 20px;
    margin: 0;
    color: #070422;
}

div#header {
    position: relative;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #140f20;
    color: #ffffff;
}

div#header a {
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px;
    color: #006;
}

div#navigation {
    background: #140f20;
}

div#navigation li {
    list-style: none;
    
    
}

div#extra {
    background: #147FA9;
}

div#footer {
    background: #42444e;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}

div#wrapper {
    float: left;
    width: 100%;
}

div#content {
    margin: 0 3% 0 210px;
}

div#navigation {
    float: left;
    width: 200px;
    margin-left: -100%;
}

div#extra {
    float: left;
    width: 33%;
    margin-left: -33%;
}

div#footer {
    clear: left;
    width: 100%;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }